/*------------------------------------------------------------------------------
	WEB : page design
------------------------------------------------------------------------------*/


li::marker {
	color: transparent;
	background-color: transparent;
}

img {
	width: 11vw;
	clip-path: circle(5vw at 50% 50%);
}


header li {
	color: #00000055;
	font-style: italic;
}

section h2 {
	color: #00000033;
	font-weight: bolder;
	font-style: italic;
	font-size: 2vw;
	transition: 500ms;
}

section h2.selected {
	font-size: 5vw;
	transition: 500ms;
}

section h2.selected::first-letter {
	color: #00000055;
}

header h2 {
	color: #00000011;
	font-weight: lighter;
	font-size: 4vw;
}


article {
	border-style: none none none solid;
	border-width: 1px;
	border-color: #00000011;
	display: none;
}

/*==============================
	Layout
==============================*/

/* Body & Wrapper */
.wrapper {
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto 0 auto;
	padding: 1px;
}





/*==============================
	Style
==============================*/

/* Set font */
* {
	font-family: 'Open Sans', 'Arial', 'Helvetica', 'Palatino', sans-serif;
}

/* Body & Wrapper */
body {
	background-image: url('../design/bottom.png'), url('../design/top.png');
	background-repeat: no-repeat, no-repeat;
	background-size: contain, contain;
	background-position: center bottom, center top;
	height: 100vh;
}
.wrapper {
	background-color: #F6F6F6;
	padding: 0 10px;
}






/*==============================
	Classes
==============================*/





/*==============================
	Responsive design
==============================*/

/* Media query : mobile */
@media (max-width: 600px) {

}



/* Media query : tablet */
@media (max-width: 1200px) {


	header {
		margin-left: 2vw;
		width: 80vw;
	}
	header h2 {
		display: inline-block;
		vertical-align: top;
	}
	header li {
		text-align: left;
	}

	section {
		margin: 2vw;
		width: 80vw;
	}

	img {
		width: 200px;
		clip-path: circle(90px at 90px 90px);
	}

	header h2 {
		margin-top: 0;
	}

	header h2 {
		font-size: 40px;
	}
	section h2 {
		font-size: 26px;
	}
	section h2.selected {
		font-size: 55px;
	}


}



/* Media query : laptop */
@media (min-width: 1200px) {

section {
	display: inline-block;
	width: 60vw;
	margin: 3vh 0vw 3vh 35vw;
}

header p {
	text-align: right;
}

header {
	border-style: none solid none none;
	border-width: 1px;
	border-color: #00000011;
	display: inline-block;
	position: fixed;
	top: 10vh;
	left: 13vw;
	width: 20vw;
	padding-right: 2vw;
	padding-top: 3vw;
	vertical-align: top;
}


img {
	margin-left: 40%
}

header h2 {
	margin-top: 0;
	padding-bottom: 1vw;
}

header li {
	text-align: right;
}


section h2 {
	font-weight: bolder;
}


}
