#map {
  height : 600px;
  width : 800px;
  margin: auto 3vh auto 0;
  border-style: solid solid double solid;
  border-color: #00000055;
}


input {
  display: inline-block;

}

div.inputs {
  display: block;
  margin: auto 1vh auto 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(0deg, #00000033, #00000099);
  background-color: white;
}
