#mycanvas {
  position: absolute;
  background-color: black;
  width: 99.9%;
  height: 80%;
  top: 0;
  left: 0;
}

div {
  position: absolute;
  background-color:black;
}

.bottombar {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: gray;
  top: 80%;
  left: 0;
  width:99.9%;
  height: 19.9%;
  background-image: url("../assets/bottom_bar.png");
  background-size: cover;
}


h1 {
  color: white;
  text-align: center;
  font-size: 2vw;
}
